<section class="section">
  <div class="row">
    <div class="col">
      <h1>{{this.appName}}</h1>
      <p>Penetration test manager. Keeps a pentester's notes and thoughts organized.</p>
      <ol>
        <li>
          <a routerLink="/register">
            Create an account
          </a>
          or
          <a routerLink="/login">
            log in
          </a>
          </li>
        <li>Create a network.</li>
        <li>
          Use the <code>add_target.sh</code> and <code>add_services.sh</code> scripts
          to add targets and services directly via the command line.
          <ul>
            <li>Alternatively, create targets and services via the frontend.</li>
          </ul>
        </li>
        <li>
          Add notes while you're pentesting.
        </li>
      </ol>
    </div>
  </div>
</section>
